<!DOCTYPE html>
<html>
  <head>
    <title>Searching for {{ queryTerm }}</title>
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap/css/bootstrap.min.css">

    <script type="text/javascript" src="./lib/jquery/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="./lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/socket.io.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Twisible</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
          <form class="navbar-form navbar-right" role="search" method="POST" action="/search">
            <div class="form-group">
              <input type="text" class="form-control" id="searchterm" name="searchterm" placeholder="Search For Anything">
            </div>
            <button type="submit" class="btn btn-primary" onclick="togglePause();">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <button type="button" class="btn btn-primary" id="pButton">PAUSE</button>
    <div class="container" id="container" name="container">
    </div>

    <script type="text/javascript">
      $(function () {
        var containerdiv = document.getElementById('container');

        var socket = io.connect('http://www.twisible.com/');

        // Once connected, emit the query for this instance.
        socket.on('connect', function() {
          socket.emit('query', { query: '{{ queryTerm }}' });
        });

        socket.on('tweet', function (tweet) {
          console.log(tweet.text);
          var newWell = document.createElement('div');
          newWell.setAttribute('class', 'well');
          newWell.innerHTML = '<p>' + tweet.text + '</p>';
          if (tweet.media_url != undefined) {
            newWell.innerHTML += '<img src="' + tweet.media_url + '" />';
          }
          containerdiv.insertBefore(newWell, containerdiv.firstChild);
        });
      });
    </script>
  </body>
</html>
