body {
	margin: 0;
	padding: 0;
	text-align: center;
	font: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	background-color: #FFFFFF;
	background-image:url(../images/background.png);
	background-repeat:repeat-x;
}

* {
	margin: 0 auto 0 auto;
	text-align:left;
}


#mainpic h1 {
	position:absolute;
	text-align:center;
	font-size:30px;
	color:#AB970C;
	left:600px;
	top:220px;
}


#mainpic {
	background-image:url(../images/main.jpg);
	background-repeat:no-repeat;
	width:800px;
	height:354px;	
}

#mainpic h2 {
	position:absolute;
	text-align:center;
	color:#776905;
	left:600px;
	top:252px;
}

.lighter {
	color:#FFFFFF;
}

#menu {
	background-image:url(../images/menu.png);
	background-repeat:no-repeat;
	width:800px;
	height:67px;
	float:center;
	clear:both;
}

#content {
	width:800px;
	height:auto;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
}

#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:900px;
}

#menu li {
	list-style: none;
	padding: 0px;	
	display: inline; 
}

#share-buttons img {
	width: 35px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
}

html, body {
	text-align: center;
}

p {
	text-align: left;
}
